@{
    ViewBag.Title = "Main page";
}

<main>
    <br />
    <section class="row" aria-labelledby="aspnetTitle">
        <br />
        <h1 id="title">Syed Musaeed Hossain</h1>
        <p class="lead">I'm a Computer Science student passionate about web development, with a strong focus on ASP.NET. 
        I'm constantly learning and building projects to deepen my skills and aim to become a proficient .NET developer. This portfolio was build using ASP.NET. 
        To see more projects like this click on thee button below to see github repos!!</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">GitHub &raquo;</a></p>
    </section>
    <br />

    <div class="row">
        <section class="col-md-4" aria-labelledby="WebDevTitle">
            <h2 id="gettingStartedTitle">Web Development</h2>
            <p>
                My goal is to build a solid foundation in web development by learning how to create responsive and interactive websites using HTML, 
                CSS, and JavaScript. I want to understand how web pages work, practice building small projects,
                and gradually explore backend technologies like PHP or ASP.NET to make dynamic and functional web applications.
            </p>

        </section>

        <section class="col-md-4" aria-labelledby="AITitle">
            <h2 id="librariesTitle">AI Enthusiast</h2>
            <p>
                My goal is to explore the field of Artificial Intelligence by understanding its core concepts such as machine learning, 
            neural networks, and data analysis. I aim to build a strong foundation through hands-on projects, academic research, and continuous
            learning. Ultimately, I want to contribute to solving real-world problems by applying AI techniques in areas like natural language processing, computer vision, or decision-making systems.
            
            </p>
            
        </section>
        <section class="col-md-4" aria-labelledby="ResearchTitle">
            <h2 id="hostingTitle">Research Minded</h2>
            <p>
                As a research-minded individual, my goal is to delve deeply into the theoretical and practical aspects of Artificial Intelligence.
                I aim to investigate complex problems in machine learning, deep learning, and reasoning systems, with a focus on contributing novel
                insights through academic research. By critically analyzing current methodologies and conducting experiments,
                I hope to advance the understanding and ethical application of AI in domains such as healthcare, language, and automation.
            </p>
            
        </section>
    </div>
</main>