@{
    ViewBag.Title = "Education";
}
<main aria-labelledby="title">

    <style>
        #title {
            font-weight: bold;
            text-align: center;
            margin-top: 30px;
            color: #343a40;
        }

        .edu-card {
            background-color: #f8f9fa;
            border-left: 5px solid #dc3545;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
            margin-bottom: 30px;
        }

            .edu-card h3 {
                color: #dc3545;
            }

            .edu-card p {
                margin-bottom: 5px;
            }
    </style>
    </head>
    <body>

        <div class="container mt-4 mb-5">
            <h2 id="title">👨‍🎓 Educational Qualifications</h2>
            <br />
            <div class="card p-4 edu-card">
                <h3>🏛️ American International University-Bangladesh</h3>
                <p>📜 2020–Present</p>
                <p>📌 Bachelor's in Computer Science and Engineering.</p>
                <p>📌 CGPA: 69.69</p>
            </div>

            <div class="card p-4 edu-card">
                <h3>🏛️ BAF Shaheen College, Dhaka</h3>
                <p>📜 2017–2019</p>
                <p>📌 Higher School Certificate</p>
                <p>📌 CGPA: 5.00</p>
            </div>

            <div class="card p-4 edu-card">
                <h3>🏛️ Adamjee Cantonment Public School</h3>
                <p>📜 2014–2017</p>
                <p>📌 Secondary School Certificate</p>
                <p>📌 CGPA: 5.00</p>
            </div>
        </div>


</main>