@{
    ViewBag.Title = "Skills";
}
<main aria-labelledby="title">
    <br />
    <h2 id="title">⚙️  @ViewBag.Title.</h2>
    <br />
    <h3>🖥️🔧 Hard Skills</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Rating</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>C++</td>
                <td>🌟🌟🌟🌟🌟</td>
            </tr>
            <tr>
                <td>C#</td>
                <td>🌟🌟🌟🌟</td>
            </tr>
            <tr>
                <td>MySQL</td>
                <td>🌟🌟🌟🌟</td>
            </tr>
            <tr>
                <td>PHP</td>
                <td>🌟🌟🌟🌟</td>
            </tr>
            <tr>
                <td>JavaScript</td>
                <td>🌟🌟🌟🌟</td>
            </tr>
            <tr>
                <td>HTML</td>
                <td>🌟🌟🌟🌟🌟</td>
            </tr>
            <tr>
                <td>CSS</td>
                <td>🌟🌟🌟🌟</td>
            </tr>
            <tr>
                <td>Python</td>
                <td>🌟🌟🌟</td>
            </tr>
            <tr>
                <td>Java</td>
                <td>🌟🌟🌟</td>
            </tr>
            <tr>
                <td>Bootstrap</td>
                <td>🌟🌟🌟🌟</td>
            </tr>
            <tr>
                <td>jQuery</td>
                <td>🌟🌟🌟</td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />

    <div class="container mt-4 border-3">
        <h3 class="mb-3">🤝 Soft Skills</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">💬 Communication</li>
            <li class="list-group-item">🤝 Teamwork</li>
            <li class="list-group-item">⏱️ Time Management</li>
            <li class="list-group-item">🧠 Critical Thinking</li>
            <li class="list-group-item">🧘 Patience / Calmness</li>
            <li class="list-group-item">🧭 Leadership / Direction</li>
            <li class="list-group-item">🎯 Goal-Oriented</li>
            <li class="list-group-item">🎨 Creativity</li>
            <li class="list-group-item">🎓 Willingness to Learn</li>
            <li class="list-group-item">🔍 Attention to Detail</li>
            <li class="list-group-item">🌱 Adaptability / Growth</li>
        </ul>
    </div>


</main>